body {
  background: #dae0e6 !important;
  margin-top: 75px !important;
}

@media screen and (min-width: 991px) {
  .mx-2 .my-auto .d-inline .w-100 {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }
}

#counter {
  margin-right: 3px;
  margin-left: 3px;"
}

#sub {
  margin-left: 11px;
}

#side-card {
  position:sticky; 
  top: 55px;
}

#posts {
  padding-top: 20px;
}

.navbar {
  --bs-navbar-padding-y: 0;
}
.navbar-brand {
  width: 150px;
  font-size: 24px;
}

.navbar-brand img {
  height: 40px;
  float: left;
  margin-right: 7px;
}