body {
  background: #dae0e6 !important;
  margin-top: 75px !important;
}

@media screen and (min-width: 991px) {
  .mx-2 .my-auto .d-inline .w-100 {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }
}

/* ========
Navbar
======== */
.navbar {
  --bs-navbar-padding-y: 0;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.navbar-brand {
  width: 150px;
  font-size: 24px;
}

.navbar-brand img {
  height: 40px;
  float: left;
  margin-right: 7px;
}

#navbarTogglerDemo02 {
  margin-right: 0px;
  margin-left: 65px;
  padding-left: 89px;
  padding-right: 0px;
}

#nav-username {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

.btn-outline-success {
  --bs-btn-color: black;
  --bs-btn-border-color: black;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: orange;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: orange;
  --bs-btn-active-border-color: orange;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: orange;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: orange;
  --bs-gradient: none;
}
/* ========
Card
======== */

/* Header */
.card-header {
  display: flex;
  align-items: center;
}

.card-header i {
  font-size: 16px;
  margin-right: 10px;
  width: 24px;
  text-align: center;
}

.card-header .counter {
  font-size: 16px;
  min-width: 20px;
  text-align: center;
  position: relative;
  left: -6px;
  font-weight: bold;
}

.card-header #legend {
  right: 34px;
  margin-left: 56px;
  position: relative;
}

.fa-volume-low {
  margin-right: 5px;
  margin-left: 4px;
  padding-right: 6px;
}

.fa-volume-high {
  color: rgb(115, 212, 115);
  margin-right: 5px;
  margin-left: 4px;
}

.fa-volume-off {
  margin-left: 1px;
  min-width: 20px;
  padding-right: 8px;
}

.fa-volume-xmark {
  color: red;

  margin-left: 1px;
  min-width: 20px;
}

/* Body */
.form.d-flex {
  margin-right: auto;
  margin-left: auto;
}

#side-card {
  position: sticky;
  top: 55px;
}

.posts {
  padding-top: 20px;
}

.video-container {
  margin: 10px auto;
}

video {
  max-width: 100%;
}
