{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<div id="posts">

  <div class="container">
    <div class="row">
      <h1>{% block header %}Auditions{% endblock %}</h1>
      <div class="col-sm-8">
        {% for post in posts %}
        <div class="card">

          <!-- Header section -->

          <div class="card-header">

            {% if user.id in post.dislikes|map(attribute="author_id")|list %}
            <i class="fa-solid fa-volume-xmark" id="dislike-button-{{post.id}}" onclick="dislike({{post.id}})"></i>
            {% else %}
            <i class="fa-solid fa-volume-off" id="dislike-button-{{post.id}}" onclick="dislike({{post.id}})"></i>
            {% endif %}

            <span id="likes-count-{{post.id}}">{{ post.likes|length - post.dislikes|length}}</span>

            {% if user.id in post.likes|map(attribute="author_id")|list %}
            <i class="fa-solid fa-volume-high" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i></a>
            {% else %}
            <i class="fa-solid fa-volume-low" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
            {% endif %}

            <strong id="sub">le/Auditions ·</strong><span class="text-muted" style="font-size: 10pt;"> Posted by <a
                href="/posts/{{post.user.username}}">{{post.user.username}}</a>
              {{ post.date_created }}</span>
          </div>

          <!-- Body section -->

          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.text }}</p>
            <br />
            <form class="input-group mb-3" id="comment" method="POST" action="/create-comment/{{post.id}}">
              <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!" />
              <button type="submit" class="btn btn-primary">Comment</button>
            </form>
            <!-- Comments section -->

            <div class="collapse" id="comments-{{post.id}}">
              <div class="card">
                <div class="card-body" id="comments-expanded-{post.id}">
                  {% for comment in post.comments %}
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.text}}
                    </div>
                    <div>
                      <small class="text-muted"> {{comment.date_created}}</small>
                      {% if user.id == comment.author_id or user.id == post.author_id %}
                      <div class="btn-group dropdown">
                        <ul class="dropdown-menu">
                          <li>
                            <a href="/delete-comment/{{comment.id}}" class="dropdown-item"><i
                                class="fa-solid fa-trash"></i> Delete</a>
                          </li>
                        </ul>
                      </div>
                      <a href="#" class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-expanded="false"
                        id="dropdownToggle"><i class="fa-solid fa-ellipsis"></i></a>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <!-- Footer section -->

          <div class="card-footer text-muted">
            <a data-bs-toggle="collapse" href="#comments-{{post.id}}" class="btn btn-light btn-sm"><i
                class="fas fa-comment"></i>
              {{post.comments|length}} Comments</a>
            <a href="" class="btn btn-light btn-sm"><i class="fas fa-share"></i> Share</a>
            {% if user.id == post.author_id %}
            <div class="btn-group dropdown">
              <ul class="dropdown-menu">
                <li>
                  <a href="/delete-post/{{post.id}}" class="dropdown-item"><i class="fa-solid fa-trash"></i>
                    Delete</a>
                </li>
              </ul>
            </div>
            <a href="#" class="btn btn-light btn-sm" data-bs-toggle="dropdown" aria-expanded="false"
              id="dropdownToggle"><i class="fa-solid fa-ellipsis"></i></a>
            {% endif %}
          </div>
        </div>
        <br />
        {% endfor %}
      </div>

      <!-- Side card section -->

      {% block column %}
      <div class="col-sm-4" style="display: block;">
        <div class="card" id="side-card">
          <div class="card-body">
            <h4 class="card-title">About Legato</h4>
            <p class="card-text">
              Legato is the online platform where musicians preparing for orchestral auditions can receive feedback and
              constructive criticism from their peers to improve their skills.
            <p class="card-text">
              Legato is a place to grow and improve your musicianship, not just another social network to use for
              self-promotion or ego-boosting.
            </p>
            </p>
            <p class="card-text"> Be a part of the Legato community by joining us today as we work together to achieve
              artistic greatness.
            </p>
            <a href="/create-post" class="btn btn-primary btn-block">Create Post</a>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}