{% extends "posts_div.html" %}

{% block title %}
{{username}}'s Posts
{% endblock %}

{% block header %}
{{username}}'s posts
{% endblock %}

{% block column %}
<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">About Legato</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Maecenas tincidunt, nisl vel placerat sodales, odio leo tincidunt dui, ac rhoncus leo nisl at nunc.
      </p>
    </div>
  </div>
</div>
{% endblock %}